<div class="max-w-sm mx-auto bg-white shadow-lg rounded-lg overflow-hidden transition-shadow duration-300 hover:shadow-2xl relative">
  <div class="relative w-full h-80">
    <img *ngIf="book" [src]="'api/books/cover/' + book.coverId + '?size=l'" class="w-full h-full object-cover" alt="">
  </div>
  <button (click)="toggleFavorite(book)" [class.text-yellow-500]="book?.isFavorite" class="absolute top-2 right-2 text-gray-400 hover:text-yellow-500">
    <i class="fas fa-star"></i>
  </button>
  <div class="p-4">
    <div class="text-xl font-semibold">
      <a [routerLink]="['/books', book?.workId]" class="text-gray-800 hover:text-gray-600">{{ book?.title }}</a>
    </div>
    <div class="text-gray-600" *ngIf="book">
      <ng-container *ngFor="let author of book.authors">
        <a [routerLink]="['/authors', author]" class="text-gray-800 hover:text-gray-600">{{ author }}</a><span
        *ngIf="author !== book.authors[book.authors.length - 1]">, </span>
      </ng-container>
    </div>
  </div>
</div>
