<div class="relative w-full h-64 group">
  <ng-container *ngFor="let imageUrl of displayImages; let i = index">
    <div class="absolute inset-0 flex items-center justify-center transition-all duration-300" [ngStyle]="{'--index': i, 'top': i * 10 + 'px', 'left': i * 10 + 'px', 'z-index': displayImages.length - i}">
      <div class="relative w-48 h-64 bg-white shadow-lg group-hover:shadow-2xl rounded-lg overflow-hidden transition-shadow duration-300">
        <img [src]="imageUrl" alt="Image" class="w-full h-full object-cover">
        <div *ngIf="i === 0" class="absolute bottom-0 w-full bg-white bg-opacity-75 px-4 py-1 h-16 title-bar">
          <h2 class="text-lg font-medium">{{ title }}</h2>
          <p class="text-sm" *ngIf="hasBooks; else noBooksTemplate">{{ displayImages.length }} books</p>
          <ng-template #noBooksTemplate>No books</ng-template>
        </div>
      </div>
    </div>
  </ng-container>
</div>
