<div class="max-w-sm mx-auto bg-white shadow-lg rounded-lg overflow-hidden relative">
  <div *ngIf="backgroundImageUrl" [ngStyle]="{'background-image': 'url(' + backgroundImageUrl + ')'}" class="absolute inset-0 w-full h-32 bg-cover bg-center z-0"></div>
  <div class="relative z-10 flex justify-center pt-2">
    <app-avatar name="Alex Turcan"></app-avatar>
  </div>
  <div class="p-4 relative z-10">
    <ul class="list-none">
      <li class="py-2 border-b border-gray-200">
        <a routerLink="/feed" class="text-gray-800 hover:text-gray-600">Feed</a>
      </li>
      <li class="py-2 border-b border-gray-200">
        <a routerLink="/my-shelves" class="text-gray-800 hover:text-gray-600">My Shelves</a>
      </li>
      <li class="py-2 border-b border-gray-200">
        <a routerLink="/favorites" class="text-gray-800 hover:text-gray-600">Favorites</a>
      </li>
      <li class="py-2">
        <a routerLink="/recommendations" class="text-gray-800 hover:text-gray-600">Recommendations</a>
      </li>
    </ul>
  </div>
</div>
