<!-- src/app/book-details/book-details.component.html -->
<div class="p-4 bg-white rounded shadow-md w-full">
  <div class="text-2xl font-semibold mb-4">{{ book?.title }}</div>
  <div class="flex">
    <div class="w-1/3">
      <img [src]="'api/books/cover/' + book?.coverId + '?size=m'" alt="Book Cover" class="w-full max-w-xs max-h-96 aspect-[1/1.5] rounded-md">
    </div>
    <div class="w-2/3 pl-4">
      <div class="mb-2">
        <span class="font-semibold">Authors:</span> {{ authorsList }}
      </div>
      <div class="mb-2">
        <span class="font-semibold">Description:</span> {{ book?.description }}
      </div>
      <div class="mb-2">
        <span class="font-semibold">Subjects:</span> {{ (book?.subjects ?? []).join(', ') }}
      </div>
    </div>
  </div>
</div>
